@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64% {
    opacity: 1;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@layer utilities {
  .text-shadow-star-wars {
    text-shadow: 0 0 2px #fccf03, 0 0 5px #fff3ba;
    animation-name: flicker;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    opacity: 0;
  }
}
