.griff {
  width: 40px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  border: 1px solid black;
  background-image: linear-gradient(to bottom, gray, rgb(23, 23, 25));
  box-shadow: 10px 0 10px black;
}

.griffFront {
  background-color: gray;
  height: 15px;
  width: 5px;
  border: 1px solid black;
  background-image: linear-gradient(to bottom, gray, rgb(23, 23, 25));
}

.griffLast {
  background-color: gray;
  height: 18px;
  width: 5px;
  border: 1px solid black;
  background-image: linear-gradient(to bottom, gray, rgb(23, 23, 25));
}

.sword {
  width: 150px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

@keyframes klinge {
  20% {
    width: 50%;
  }
  30% {
    width: 75%;
  }
  50% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

.klinge {
  width: auto;
  height: 4px;
  width: 0%;
  background-color: white;
  border-radius: 0 4px 4px 0;
  border: 1px solid white;
  box-shadow: 0 0 40px rgba(128, 128, 128, 1), 0 0 20px rgba(128, 128, 128, 1),
    0 0 10px rgba(128, 128, 128, 1);

  animation-name: klinge;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
